

body {

}


#wrapper {
  background-color:;
  font-family: ;
  border: 14px solid grey;
  padding: 30px;
  margin: 10px;
  color: black;
  box-sizing: content-box;

}



.img2 {
  height: 40px;

}

div {
background-color:

}

h1 {
  text-align: center;
  font-family: 'Arapey', serif;
  color: black;
  font-weight:bold;
  font-size: 54px;

}

p {
  font-family:'Julius Sans One', sans-serif;
  font-weight:600;
  font-size:25px;

}

h3 {
  font-family:'Julius Sans One', sans-serif;

}

li{
  font-family:'Julius Sans One', sans-serif;

}

a {
  font-family:'Julius Sans One', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

.img-circle{
  border-radius:50%;
margin: 0 auto;
width: 300px;
display: block;
}

.navigation > ul > li {
  position: relative; // required for absolute positioning
  display: inline;
  list-style: none;
}

.navigation .dropdown {
  position: absolute; // tracks nearest relatively-positioned ancestor
  top: 11em; // positions according to the ancestor
  display: none;

}

.navigation a:hover + .dropdown {
  display: block;
  top: 1em; // positions according to the ancestor
}

.dropdown:hover {
display: block;
}

#greeter{
  background-color: :gray;
}
